div.containerFooter {
    background-color: black;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.containerFooter h2 {
    font-size: 2.3em;
    padding: 80px 0;
    text-align: center;
    font-weight: bolder;
    width: 100%;
}

div.containerFooter a {
    margin: 0 10px 30px;
}

div.containerFooter>div:nth-child(2), div.containerFooter>div:nth-child(3), div.containerFooter>div:nth-child(4), div.containerFooter>p:last-child {
    width: 100%;
    text-align: center;
}

div.containerFooter>div:nth-child(2) nav, div.containerFooter>div:nth-child(3) nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    
}

div.containerFooter>div:nth-child(2) nav a i, div.containerFooter>div:nth-child(3) nav a i {
    margin-right: 10px;
    vertical-align: middle;
}

div.containerFooter>div:nth-child(2) nav a i {
    font-size: 50px;
}

div.containerFooter>div:nth-child(3) nav a i {
    font-size: 20px;
}

div.containerFooter>p:last-child {
    text-align: center;
    padding: 100px;
    width: 100%;
    font-size: 10px;
}

@media (min-width: 900px) {
    div.containerFooter>div:nth-child(2) {
        width: 55%;
    }
    div.containerFooter>div:nth-child(3) {
        width: 45%;
    }
     div.containerFooter>div:nth-child(3) nav {
        flex-direction: column;
        text-align: left;
    }
}