<div >
  <app-nav></app-nav>
</div>
<div class="animation">
  <div class="main">
    <div class="inicio">
      <app-inicio></app-inicio>
    </div>
    <div class="wrapper">
      <section class="about padding">
        <app-about></app-about>
      </section>
      <section class="techenologies padding">
        <app-technologies></app-technologies>
      </section>
      <section class="works">
        <app-works></app-works>
      </section>
    </div>
    <section class="contact">
      <app-contact></app-contact>
    </section>
  </div>
</div>