div.wrapper {
    width: 90%;
    margin:auto;
    max-width: 1200px ;
}
div.animation {
    animation: inicio 3.8s both ease-in-out;
}
div.animation>div.main>div.inicio, div.animation>div.main>div.wrapper>div:nth-child(1n+1) {
    margin-bottom: 150px ;
}
@keyframes inicio {
    0% {
        opacity: 0;
    }90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

