div.wrapper {
    width: 90%;
    margin:auto;
    max-width: 1200px ;
}
div.animation {
    animation: inicio 3.8s both ease-in-out;
}

@keyframes inicio {
    0% {
        opacity: 0;
        transform: translateY(150px);
       
        
    }90% {
        opacity: 0;
        transform: translateY(150px);

    }
   
    100% {
        opacity: 1;
        
    }
}

