div.wrapper {
    width: 90%;
    margin:auto;
    max-width: 1200px ;
    animation: inicio 3.8s both ease-in-out;
}

@keyframes inicio {
    0% {
        opacity: 0;
    }90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

