<div class="container ">
    <div class="header">
        <div class="logo"></div>
        <div (mouseenter)="mouseEnter()" (mouseleave)="mouseOut()" (click)="onClick()" class="buttonNav">
            <div id="buttonNav">
                <div class="circles"></div>
                <div class="circles"></div>
                <div class="circles"></div>
                <div class="circles"></div>
                <div class="circles"></div>
            </div>
        </div>
        <div class="containerNavbar">
            <ul class="">
                <li *ngFor="let link of nav"><a (click)="onClickLink()" (mouseenter)="enterLink($event)" (mouseleave)="outLink($event)" href="#{{link}}">{{link}}</a></li>
            </ul>
        </div>
    </div>


</div>