@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
div.container  {
    position: fixed;
    width: 100%;
    z-index: 10;
    font-family: 'Audiowide', cursive;
}

div.container.open  {
    background-color: var(--backColor);
    animation: onBackground .6s ease-in-out;
    height: 100vh;
    transition: .3s ease-in-out;
}
div.container.closed{
    background-color: initial;
    animation: offBackground 2s ease-in-out;
    transition: .3s ease-in-out;
    transition-delay: 1.3s;
}

div.container div.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


div.container div.header div.logo {
    z-index: 10;
    margin: 25px;
    border: 5px solid red;
    height: 50px;
    width: 50px;
}

div.container div.header div.buttonNav {
    width: 50px;
    height: 50px;
    padding: 9px;
    z-index: 10;
    margin: 25px;
}

div.container div.header div.buttonNav:hover {
    cursor: pointer;
}

div.container div.header div.buttonNav div#buttonNav {
    position: relative;
    width: 100%;
    height: 100%;
}

div.container div.header div.buttonNav div.circles {
    width: 7px;
    height: 7px;
    background: var(--colorWhite);
    border-radius: 50%;
    position: absolute;
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 1px 1px rgba(255,255,255,0.97);
}
div.container div.header div.buttonNav div.circles.shadow { 
    box-shadow: 0px 0px 7px 2px rgba(255,255,255,0.97);
}

div.container div.header div.buttonNav div#buttonNav div.circles:first-child {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

div.container div.header div.buttonNav div#buttonNav div.circles.center:first-child {
    left: 50%;
}

div.container div.header div.buttonNav div#buttonNav div.circles:nth-child(2) {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

div.container div.header div.buttonNav div#buttonNav div.circles:nth-child(3) {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

div.container div.header div.buttonNav div#buttonNav div.circles:nth-child(4) {
    right: 0;
    bottom: 50%;
    transform: translate(50%, 50%);
}

div.container div.header div.buttonNav div#buttonNav div.circles.center:nth-child(4) {
    right: 50%;
}

div.container div.header div.buttonNav div#buttonNav div.circles:last-child {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

div.container div.header div.buttonNav div#buttonNav div.circles.topLeft:first-child {
    top: 5px;
    left: 5px;
}

div.container div.header div.buttonNav div#buttonNav div.circles.topRight:nth-child(2) {
    top: 5px;
    right: 5px;
}

div.container div.header div.buttonNav div#buttonNav div.circles.bottomRight:nth-child(4) {
    right: 5px;
    bottom: 5px;
}

div.container div.header div.buttonNav div#buttonNav div.circles.bottomLeft:last-child {
    bottom: 5px;
    left: 5px;
}

div.container div.header div.containerNavbar {
    width: 100%;
    text-align: center;
    display: none;
    color: var(--colorGrey);
    font-weight: 900;
    transform: translateY(-100vh);
}


div.container.open div.header div.containerNavbar {
    display: block;
    transform: translateY(0);
    animation: blocked 3s;
}
div.container.closed div.header div.containerNavbar {
    transform: translateY(-100vh); 
    animation: closed 3s;
    color: var(--backColor);
    display: block;
}


div.container div.header div.containerNavbar ul li a {
    display: block;
    width: max-content;
    margin: auto;
    padding: 15px 0;
    margin-top: 25px;
}
div.container.open div.header div.containerNavbar ul li a:hover {
    color: var(--colorWhite);
}

div.animated {
    animation-duration: 9s;
    animation-fill-mode: both;
}

div.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes onBackground {
    0% {
        background-color: inherit;
    }
}
@keyframes offBackground {
    0% {
        background-color: var(--backColor);
        height: 100vh;
    }
    50%{
        background-color: var(--backColor);
        height: 100vh;
    }
}
@keyframes blocked {
    0% {
        color: var(--backColor);
        transform: translateY(-100vh);
    }
    50% {
        color: var(--backColor);
    }
}
@keyframes closed {
    0% {
        color: var(--colorGrey);
        transform: translateY(0);
    }
    30%{
        color: var(--backColor);
    }
}

@media(min-width: 800px ) {
    div.container.open  {
        background-color: initial;
        height:auto;
    }
    div.container div.buttonNav {
       display: none;
    }
    div.container.closed div.header div.containerNavbar {
        display: block;
       transform: translateY(0);
       width: 80%;
       color: var(--colorWhite);
    }
    div.container div.header div.containerNavbar {
       display: block;
       transform: translateY(0);
       width: 80%;
       color: var(--colorWhite);
    }
   
    
    div.container div.header div.containerNavbar ul {
        display: flex;
        justify-content: space-around;
    }
    div.container div.header div.containerNavbar ul a {
        transition: .3s ease-in-out;
    }
    div.container div.header div.containerNavbar ul a.hoverLinks {
        color: rgba(0, 0, 0, 0);  
    }
    

}